#コメント

#”.DS_Store”は無視(Mac)
*/.DS_Store

#”Thumbs.db”は無視(Windows)
*/Thumbs.db

#エディターの設定Fileは無視
#Eclipse
/*.settings
.project
#Atom
*/tsconfig.json

#自動生成されるJSは無視
src/main/typescript/**/*.js

#モジュールは無視
node_modules/

public/
