@CHARSET "UTF-8";
@font-face {
	font-family: 'PixelMplus10';
	src: url('./app/resources/assets/core/font/PixelMplus10-Regular.woff') format('woff'),
	url("./app/resources/assets/core/font/PixelMplus10-Regular.ttf") format('truetype');
}

@font-face {
	font-family: 'PixelMplus10Bold';
	src: url("./app/resources/assets/core/font/PixelMplus10-Bold.ttf") format('truetype');
}

body{
	position: relative;
	background-color: transparent;
	font-family: "PixelMplus10","monospace";
	margin: 0px;
	line-height: 1;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto | grayscale
}

#container{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0 auto;
/* 	border: solid 1px #000; */
	position: relative;
}

section{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	background-color: transparent;

}




#stage_transition {
	transition-property: background-color;
  	transition-duration: 0.5s;
  	transition-delay: 0s;
  	transition-timing-function:ease-in;
/* 	z-index: 90; */
}

.stage_transition_display{
	z-index: 98;
}


.none_display{
	display: none;
}

.display{
	z-index: 80;
}

/******************** 起動画面 **************************/

#stage_logo{
	background-color: black;
}

#stage_logo img{
	margin: 64px 256px;
}

/******************** 読み込み画面 **************************/

#stage_loading{
	background-color: #000000;
	color: white;
}

#loading_string {
	font-size: 38px;
	top: 220px;
	left: 390px;
	position: absolute;
}

#loading_progress{
	width:400px;
	/*height:28px;*/
	top: 340px;
	left: 310px;
	position: absolute;
}

#loading_img{
	/*height:28px;*/
	bottom:20px;
	right: 28px;
	position: absolute;
}

/******************** タイトル画面 **************************/

#stage_title{
	 text-align: center;
	 background-image: url("./app/resources/assets/core/title.jpg");
}
#stage_title h1{
	color: #DA5511;
	cursor: default;
	font-size: 130px;
	font-weight: normal;
	text-shadow:black 1px 1px 0px, black -1px 1px 0px,
             	black 1px -1px 0px, black -1px -1px 0px;
	position: relative;
	margin: 68px 0px 0px 32px;
}

#please_e{
	font-size: 48px;
	color: #FFFFFF;
	cursor: pointer;
    bottom: 120px;
    left: 210px;
	position: absolute;
	text-shadow:black 1px 1px 0px, black -1px 1px 0px,
             	black 1px -1px 0px, black -1px -1px 0px;
	animation: switchtext 1.2s infinite ease-in-out alternate;
	animation-name: switchtext;
	animation-duration: 0.8s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
	animation-delay: 0s;

	/*Safari*/
	-webkit-animation: switchtext 1.2s infinite ease-in-out alternate;
	-webkit-animation-name: switchtext;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0s;

/* 	display: block; */
}

switchtext {
 	from { opacity: 1.0; }
 	to { opacity: 0; }
}

@keyframes switchtext {
 	from { opacity: 1.0; }
 	to { opacity: 0; }
}

@-webkit-keyframes switchtext {
 	from { opacity: 1.0; }
 	to { opacity: 0; }
}

#version{
	color: #FFFFFF;
	text-align: left;
	cursor: default;
	position:absolute;
	left: 20px;
	bottom: 20px;
	text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}


/******************** ゲーム画面 **************************/

#stage_game{
	background-color: transparent;
}

#stage_game canvas{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	position: absolute;
	vertical-align : bottom;
}

#game_player_bullets{
	z-index: 28;
}

#game_player{
	z-index: 30;
}



