body{
	position: relative;
	background-color: transparent;
	margin: 0px;
	line-height: 1;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto | grayscale
}

#container{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0 auto;
/* 	border: solid 1px #000; */
	position: relative;
}

section{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	background-color: transparent;

}




#stage_transition {
	transition-property: background-color;
  	transition-duration: 0.5s;
  	transition-delay: 0s;
  	transition-timing-function:ease-in;
/* 	z-index: 90; */
}

.stage_transition_display{
	z-index: 98;
}


.none_display{
	display: none;
}

.display{
	z-index: 80;
}

/******************** ãNìÆâÊñ  **************************/

#stage_logo{
	background-color: black;
}

#stage_logo img{
	margin: 64px 256px;
}

/******************** ì«Ç›çûÇ›âÊñ  **************************/

#stage_loading{
	background-color: #000000;
	color: white;
}

#loading_string {
	font-size: 38px;
	top: 220px;
	left: 390px;
	position: absolute;
}

#loading_progress{
	width:400px;
	/*height:28px;*/
	top: 340px;
	left: 310px;
	position: absolute;
}

#loading_img{
	/*height:28px;*/
	bottom:20px;
	right: 28px;
	position: absolute;
}


/******************** ÉQÅ[ÉÄâÊñ  **************************/

#stage_game{
	background-color: transparent;
}

#stage_game canvas{
	width: 1024px;
	height: 640px;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	position: absolute;
	vertical-align : bottom;
}

#game_player_bullets{
	z-index: 28;
}

#game_player{
	z-index: 30;
}



